.decorated-zone::after {
    border-left: 1px solid var(--decor-zone-color);
    border-bottom: 1px solid var(--decor-zone-color);
}

.decorated-zone::before {
    border-right: 1px solid var(--decor-zone-color);
    border-top: 1px solid var(--decor-zone-color);
} 

.header-title {
    color: var(--main-title-color);
}

.header-info {
    color: var(--decor-text-color);
    background-color: var(--title-decor);
}

.header__theme-menu-button {
    color: var(--button-color);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--button-color);
    outline-color: var(--button-color-hover);
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid inherit;
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-color);
}

.cards-title {
    background-color: var(--title-decor);
    color: var(--decor-text-color)
}

.section-title {
    color: var(--title-color);
}

.cards-text {
    color: var(--text-color);
}

.link {
    text-shadow: var(--title-decor) 2px 2px;
}

.link:hover {
    outline: 1px solid var(--text-color);
    cursor: pointer;
}

.link:focus-visible {
    border: 1px solid var(--text-color);
}

.cards-title-variant {
    color: var(--decor-text-color);
    background-color: var(--title-decor);
}

.footer-title {
    color: var(--main-title-color);
    text-shadow: var(--title-decor) 2px 2px;
}