/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_dark {
  --text-color: #F1B2CE;
  --decor-text-color: #000028;
  --title-color: #FF0070;
  --title-decor: #FF0070;
  --decor-zone-color: #FF0070;
  --button-color: #FF0070;
  --button-color-hover: rgb(255,0,7,40%);
  --main-title-color: #DB00FF;
  --main-color: #000028;
  --rec: #FF0070;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--main-color);
}

.decorated-zone::after {
  border-left: 1px solid var(--decor-zone-color);
  border-bottom: 1px solid var(--decor-zone-color);
}

.decorated-zone::before {
  border-right: 1px solid var(--decor-zone-color);
  border-top: 1px solid var(--decor-zone-color);
}

.rec {
  position: absolute;
  font-family: var(--main-font);
  color: var(--rec);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  inset-block-start: 20px;
  inset-inline-end: 49px;
}

.rec::after {
  display: block;
  position: absolute;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
  background-color: var(--rec);
  inset-inline-end: -20px;
  inset-block-start: 8px;
}

.header-title {
  color: var(--main-title-color);
}

.header-info {
  color: var(--decor-text-color);
  background-color: var(--title-decor);
}

.header__theme-menu-button {
  color: var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color);
  border-color: var(--button-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid inherit;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.cards-title {
  background-color: var(--title-decor);
  color: var(--decor-text-color)
}

.section-title {
  color: var(--title-color);
}

.cards-text {
  color: var(--text-color);
}

.link {
  text-shadow: var(--title-decor) 2px 2px;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

.cards-title-variant {
  color: var(--decor-text-color);
  background-color: var(--title-decor);
}

.footer-title {
  color: var(--main-title-color);
  text-shadow: var(--title-decor) 2px 2px;
}

@media (prefers-color-scheme: dark) {
  .page {
  background-color: var(--main-color);
  }
  .theme_dark {
    --text-color: #F1B2CE;
    --decor-text-color: #000028;
    --title-color: #FF0070;
    --title-decor: #FF0070;
    --decor-zone-color: #FF0070;
    --button-color: #FF0070;
    --button-color-hover: rgb(255,0,7,40%);
    --main-title-color: #DB00FF;
    --main-color: #000028;
  }
} 